node_modules
dist
out
.DS_Store
*.log*
testdb


.nx/cache
.nx/workspace-data
output


*.tsbuildinfo
*.db

.turbo

node_modules_build
node_modules_build_backup
build-app


.encore
encore.gen.go
encore.gen.cue
/.encore
node_modules
backend/encore.gen
/encore.gen


test-turso-db

storybook-static
*storybook.log

**/.claude/settings.local.json


database
.ariana/
.traces/
.ariana_saved_traces/
.vault_secret_key

uploads

.database