electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
node-linker=hoisted
prefer-workspace-packages=true
hoist-pattern[]=*
auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=*@libsql*