package css

// Team color CSS components

css TeamBgGlitchbyte() {
	background-color: #d500f9;
}
css TeamBgNullwave() {
	background-color: #00bcd4;
}
css TeamBgOverburn() {
	background-color: #e91e63;
}
css TeamBgVoltcrash() {
	background-color: #76ff03;
}

css TeamTextGlitchbyte() {
	color: #d500f9;
}
css TeamTextNullwave() {
	color: #00bcd4;
}
css TeamTextOverburn() {
	color: #e91e63;
}
css TeamTextVoltcrash() {
	color: #76ff03;
} 